@font-face {
    font-family: 'Raleway Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Raleway/Raleway-Bold.woff2) format('woff2'), url(../fonts/Raleway/Raleway-Bold.woff) format('woff'), url(../fonts/Raleway/Raleway-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway Heavy';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/Raleway/Raleway-Heavy.woff2) format('woff2'), url(../fonts/Raleway/Raleway-Heavy.woff) format('woff'), url(../fonts/Raleway/Raleway-Heavy.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/Raleway/Raleway-Light.woff2) format('woff2'), url(../fonts/Raleway/Raleway-Light.woff) format('woff'), url(../fonts/Raleway/Raleway-Light.ttf) format('truetype');
}