$white:#fff;
$second-white:#faf9fc;
$black: #262626;
$light-grey:rgb(185, 185, 185);
$grey: #9d9d9d;
$yellow: #ffe92f;
$dark-blue: #5585a2;
$green:#96b92c;
$light-red: #ff6033;
$blue: #00b0b0;
$violet:#b07cf7;
$second-blue: #70bfff;
$crimson: #f72b3b;
$opacity-black:rgba(0, 0, 0, 0.4);
$ss: sans-serif;
$raleway-light: 'Raleway Light';
$raleway-bold: 'Raleway Bold';
$raleway-heavy: 'Raleway Heavy';